.footer {
  background: #d3e0ce;
  border-top: 1px solid #e5e7eb;
  margin-top: 80px;

  &__container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 60px 0 40px;
  }

  &__top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
  }

  &__logo {
    color: #16a34a;
    font-size: 22px;
    margin-bottom: 10px;
  }

  p {
    color: #475569;
    line-height: 1.6;
    font-size: 14px;
  }

  h3 {
    margin-bottom: 14px;
    font-size: 16px;
    color: #0f172a;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 8px;
  }

  a {
    text-decoration: none;
    color: #475569;
    position: relative;
    transition: 0.3s;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0%;
      height: 2px;
      background: #16a34a;
      transition: 0.3s;
    }

    &:hover {
      color: #16a34a;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .contact li {
    color: #475569;
  }

  &__bottom {
    text-align: center;
    padding: 18px;
    font-size: 14px;
    border-top: 1px solid #e5e7eb;
    color: #64748b;
  }
}

@media (max-width: 900px) {
  .footer__top {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

/* MOBILE SUPER DESIGN */

@media (max-width: 600px) {

  .footer__container {
    padding: 40px 0;
  }

  .footer__top {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .footer__about {
    text-align: center;
  }

  .footer__logo {
    font-size: 24px;
  }

  .footer__col {

    h3 {
      font-size: 17px;
      margin-bottom: 10px;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 6px;
    }
  }

  .contact {
    grid-template-columns: 1fr !important;
  }

}