/* =========================
RESET
========================= */

*,
*::before,
*::after{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:"Inter",sans-serif;
overflow-x:hidden;
}

/* =========================
CONTAINER
========================= */

.container{
 max-width:1350px;
  margin:0 auto;
  padding:0 18px;
  height: 100%;
  display:flex;
  align-items:center;
  justify-content: space-between;
}



/* =========================
HEADER
========================= */

.header{
  height:90px;
display:flex;
align-items:center;
border-bottom:1px solid #eee;
background:#fff;

width:100%;
background:#fff;
padding:18px 0;
position:sticky;
top:0;
z-index:1000;
transition:.3s;
}

/* =========================
LOGO
========================= */

.logo {
  display: flex;
  align-items: center;
 justify-content: space-between;
 padding-right: 150px;

  img {
    height: 171px; // headerdan kichikroq
    width: 100%;
    object-fit: contain;
    transition: transform .3s ease;
  }


  
  &:hover img {
    transform: scale(1.05);
  }
}

/* =========================
NAVIGATION
========================= */



.nav {
  display: flex;
  align-items: center;
  justify-content: space-between; // linklar o'rtasida bo'sh joy
  width: 890px; // yoki kerakli width
  gap: 20px
  ;
}


.nav a{
text-decoration:none;
color:#111827;
font-weight:500;
position:relative;
transition:.3s;
}

/* underline animation */

.nav a::after{
content:"";
position:absolute;
left:0;
bottom:-5px;
width:0;
height:2px;
background:#16a34a;
transition:.3s;
}

.nav a:hover{
color:#16a34a;
}

.nav a:hover::after{
width:100%;
}

/* =========================
BUTTONS
========================= */

.btn-outline,
.btn-primary{
padding:9px 20px;
border-radius:8px;
font-weight:600;
text-decoration:none;
transition:.3s;
}

/* remove underline */

.btn-outline::after,
.btn-primary::after{
display:none;
}

/* outline */

.btn-outline{
border:2px solid #111;
color:#111;
}

.btn-outline:hover{
background:#16a34a;
border-color:#16a34a;
color:#fff !important;
}

/* primary */

.btn-primary{
background:#16a34a;
color:#fff !important;
border:2px solid transparent;
}

.btn-primary:hover{
background:#15803d;
transform:translateY(-2px);
}

/* =========================
MENU TOGGLE
========================= */

.menu-toggle{
display:none;
flex-direction:column;
gap:6px;
cursor:pointer;
z-index:2000;
}

.menu-toggle span{
width:28px;
height:3px;
background:#111;
transition:.35s;
}

/* hamburger animation */

.menu-toggle.active span:nth-child(1){
transform:rotate(45deg) translate(5px,5px);
}

.menu-toggle.active span:nth-child(2){
opacity:0;
}

.menu-toggle.active span:nth-child(3){
transform:rotate(-45deg) translate(6px,-6px);
}

/* =========================
OVERLAY
========================= */

.mobile-overlay{
position:fixed;
inset:0;

background:rgba(0,0,0,.25); // kamroq qorayadi

opacity:0;
pointer-events:none;

transition:.35s;

z-index:900; // NAVdan past
}

.mobile-overlay.active{
opacity:1;
}


/* =========================
MOBILE MENU
========================= */

@media(max-width:992px){

.menu-toggle{
display:flex;
}

.nav{
position:fixed;
top:0;
right:0;
height:100vh;
width:320px;

background:#fff;

flex-direction:column;
align-items:center;
justify-content:center;

gap:30px;
padding:40px;

transform:translateX(100%);
transition:transform .45s cubic-bezier(.77,0,.18,1);

box-shadow:-20px 0 60px rgba(0,0,0,.15);

z-index:1000;
}

.nav.active{
transform:translateX(0);
}

.nav a{
font-size:20px;
font-weight:600;
}

/* buttons mobile */

.btn-outline,
.btn-primary{
width:200px;
text-align:center;
font-size:18px;
}

}

/* =========================
SMALL MOBILE
========================= */

@media(max-width:500px){

.logo img{
   height:1295px;
}

.nav{
width:100%;
}

}

.hero-main{
  padding-top: 100px;
}